:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --button-hero-text-color: #ffffff;
}
body {
  font-family: Roboto;
  background-color: #e5e5e5;
  color: #212121;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент  #2196F3*/
/* borders  #EEEEEE*/

body {
  font-family: Roboto;
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
}

.link-itom {
  color: var(--title-text-color);
}
.link-itom:hover,
.link-itom:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.hero-title {
  color: var(--button-hero-text-color);
}
.section-title.content {
  color: var(--title-text-color);
}
.team-list.text {
  color: var(--secondary-text-color);
}
.team-list.name {
  color: var(--title-text-color);
}
.team-list.prof {
  color: var(--secondary-text-color);
}

.button {
  color: var(--button-hero-text-color);
  background-color: var(--secondary-background-color);
}
.button.primery {
  cursor: pointer;
  color: var(--primery-white-color);
  background-color: var(--accent-background-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}
.button.secondary:hover,
.button.secondary:focus {
  cursor: pointer;
  color: var(--primery-white-color);
  background-color: var(--accent-background-color);
}
.work-list.title {
  color: var(--title-text-color);
}
.work-list.text {
  color: var(--secondary-text-color);
}
